/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #555;
}

/* Projects */
.project {
    margin-bottom: 20px;
}

.project h3 {
    margin: 0;
    color: #007BFF;
}

.project p {
    margin: 5px 0;
}

.project a {
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

#contact a {
    color: #0077b5; /* LinkedIn blue */
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#contact a i {
    margin-right: 5px; /* Spacing between icon and text */
    font-size: 1.2em;
}

#contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}


